<!DOCTYPE html>
<html>
<head>
    <title>YVOX - Home</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <% include partials/Menu %>
    <img src="logo.png" alt="yvox" />
    <div>
        <h2>YVOX Team</h2>
        <p>
            We are student at ESGI in Paris in 3<sup>rd</sup> year. YVOX is our annual project.
        </p>
    </div>
</body>
<footer>
    <% include partials/footer %>
</footer>
</html>
