<!DOCTYPE html>
<html>
<head>
    <title>YVOX - Home</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <% include partials/Menu %>
    <img src="logo.png" alt="yvox" />
    <div >
        <h2>Plugins list</h2>
        <%
        console.log(pluginslist.length)
        if(pluginslist.length>0){%>
            <div><%
            pluginslist.forEach(function(entry){%>

                    <!-- --><li><a href="/download/<%=entry%>"><%=entry%></a></li><!-- -->

        <%})%></div><%
        }else{
            %>
            <p>
                There are no plugins available now.
            </p>
            <%
        }
        %>

    </div>
</body>
<footer>
    <% include partials/footer %>
</footer>
</html>
