<!DOCTYPE html>
<html>
<head>
    <title>YVOX - Home</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <% include partials/Menu %>
    <img src="logo.png" alt="yvox" />
    <div>
        <h2>Plugins list</h2>
        <p>
            There are no plugins available now.
        </p>
    </div>
</body>
<footer>
    <% include partials/footer %>
</footer>
</html>
